.menu-container {
 display: flex;
 justify-content: end;

}

.menu-button {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-icon {
  font-size: 2em;
  color: white;
}

.menu-item {
  width: 50px;
  height: 50px;
  background-color: #b4467f;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8em;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.menu-container.open .menu-item {
  opacity: 1;
  pointer-events: auto;
}

.item1 {
  transform: translate(-0%, -140%) rotate(0deg) translate(70px) rotate(0deg);
}
.menu-container.open .item1 {
  transform: translate(10%, -10%) rotate(250deg) translate(70px) rotate(-120deg);
}


.item2 {
  transform: translate(-0%, -130%) rotate(0deg) translate(70px) rotate(0deg);
}


.menu-container.open .item2 {
  transform: translate(-5%, -25%) rotate(180deg) translate(70px) rotate(-120deg);
}


